<a href="https://colab.research.google.com/github/cs-sally/machine_learning/blob/main/ml_2_data_expl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Basic Data Exploration ###
#### Pandas Library ####
* **Pandas library(pd)**: primary exploring and manipulating data tool.
* *as : alias
* **DataFrame:** Table type of data; two-dimensional, tabular data structure with labeled rows and columns; spreadshhet, Excell
* **SQL database**

In [ ]:
import pandas as pd

#### Prediction: Iowa Home Price ####
* example data: Melbourne data: ../input/melbourne-housing-snapshot/melb_data.csv.
* csv: comma separated values; plain text file format to store tabular data.

##### 1. Exploring Melbourne data #####

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
melbourne_file_path = '/content/drive/My Drive/Colab Notebooks/kaggle_datasets/kaggle_datasets_extracted/melb_data.csv/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path)
print(melbourne_data.head())

       Suburb           Address  Rooms Type      Price Method SellerG  \
0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
0  3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0           NaN
1  4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0          79.0
2  4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0         150.0
3  4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0           NaN
4  4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0         142.0

   YearBuilt  CouncilArea Lattitude  Longtitude             Regionname  \
0        NaN        Yarra  -37.7996    144.9984  Northern Metropolitan
1     1900.0        Yarra  -37.8079    144.9934  Northern Metropolitan
2     1900.0        Yarra  -37.8093    144.9944  Northern Metropolitan
3        NaN        Yarra  -37.7969    144.9969  Northern Metropolitan
4     2014.0        Yarra  -37.8072    144.9941  Northern Metropolitan

  Propertycount
0        4019.0
1        4019.0
2        4019.0
3        4019.0
4        4019.0

[5 rows x 21 columns]